<h1>Welcome <%=user%> !</h1>
<br>
<h2>What would you like to do today? </h2>
<br>
<ul>
    <li>
        <h2>
            Explore Ratings
        </h2>
        <br>
        <a href="/ratings">Go To Rating Board</a>
    </li>
    <li>
        <h2>
            Plan Your Meals
        </h2>
        <br>
        <a href="/meal-planner">Go To Meal Planner</a>
    </li>
</ul>
<br>
<button type="submit" href="/logout">Logout</button>