<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <h2>Register</h2>
  <form action="/register" method="POST">
    <input type="text" name="userid" placeholder="UserID" required>
    <br><br>
    <input type="text" name="username" placeholder="Username" required>
    <br><br>
    <input type="password" name="password" placeholder="Password" required>
    <br><br>
    <input type="checkbox" name="agree" required> Agree to Terms and Conditions
    <br><br>
    <button type="submit">Register</button>
  </form>
  <% if ( failure){ %>
      <p style="color: red;"><%= failure %></p>
    <% } %>
    <br>
  <a href="/login">Already have an account? Login</a>
</body>

</html>